

<h1>Dashboard</h1>

<% @resources.each do |resource| %>
  <div class='stream'><%= "#{resource.name}"%> </div>



<%= javascript_tag do %>
jQuery(document).ready(function() {
  var faye = new Faye.Client('http://localhost:9292/faye');  
  faye.subscribe('/logs/<%= "#{resource.name}" %>', function (data) {  
    $('.stream').append("<div>" + data.message[0].message + "</div>");  
  });  
});  
<% end %>
<% end %>
